@{
    ViewBag.Title = "DashBoardforNeedHelp";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="col-md-9 padding-right">
    <div class="panel panel-primary" style="min-height: 400px">
        <div class="panel-heading bold"><span class="glyphicon glyphicon-bell"></span>&nbsp;Need Help ?</div>        
        <div class="panel-body">
            
        </div>
    </div>
</div>
