@{
    ViewBag.Title = "Spam";
    Layout = "~/Views/Shared/AdminDashboard.cshtml";
}

<div class="col-md-9 padding-right">
    <div class="panel panel-primary">
        <div class="panel-heading bold"><span class=" glyphicon glyphicon-book"></span>&nbsp;Home</div>
        <div class="panel-body" style="background-color: white">
            <a href="/Admin/NormalAds" class ="NormalAndFeatureTabs" >
                       <span">Spam Users</span>
                </a>

                <a href="/Admin/FeatureAds" class="NormalAndFeatureTabs">
                    <span">Spam Ads.</span>
                </a>

        </div>
    </div>
</div>
